<!doctype html>
<html class="no-js" lang="en-us" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="robots" content="index,follow,noarchive" /> 

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= yield_content(:title) || current_page.data.title || data.site.title %> - <%= data.site.title_suffix %></title>

    <% meta_description = yield_content(:meta_description) || current_page.data.description || data.site.description %>
    <meta name="description" content="<%= meta_description %>">

    <!-- Styles -->
    <%= stylesheet_link_tag :site %>
    <!--[if lt IE 9]>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="/assets/js/respond.min.js"></script>
    <![endif]-->   
  </head>

  <body class="<%= page_classes %>">
  <% if !current_page.data.no_masthead %>
    <%= partial "partials/masthead" %>
  <% end %>

  <!--[if lt IE 8]>
    <div class="error">
      <div class="group">
        <p>Come on, it’s 2015. <a href="http://browsehappy.com" title="Find out about updating your browser here">Update your browser</a>, or stuff is going to look a bit upside down! Don’t say I didn’t warn you!</p>
      </div>
    </div>
  <![endif]-->