<header class="masthead">
  <div class="group">
    <div class="masthead__logo"><%= data.site.site_title %></div>
    <nav class="nav">
      <% data.pages.pages.each do |nav| %>
        <% if nav.nav.masthead != false %>
          <span>
            <a title="<%= nav.nav.alt %>" class="nav__link--<%= nav.slug != "" ? nav.slug : "home" %>" href="/<%= nav.slug %>"><%= nav.nav.label %></a>
          </span>
        <% end %>
      <% end %>
    </nav>
  </div>
</header>