---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Middleman is Running here</h1>
  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->

<h2>Blog 1</h2>

<% blog('blog').articles[0...5].each do |article| %>
	<a href="<%= article.url %>"><%= article.title %> - <%= article.data.video_length %></a>
	<%= image_tag(article.data.feat_image) %>
	<%= article.data.blurb %>
	<%= link_to("Read more", article.url) %>
<% end %>

<h2>Blog 2</h2>
<p><%= lorem.paragraph %></p>
